In [1]:
from __future__ import print_function  # Compatability with Python 3
print('Print function ready to serve.')

from IPython.display import display, HTML

Print function ready to serve.

In [2]:
3 * 5  # Not shown
16 / 4 # Shown

4

In [3]:
print( 3 * 5 ) # Shown
print( 16 / 4 ) # Shown

15
4

In [4]:
# print( 3 * 5 )  <-- This code does not get run

In [5]:
# Print concatenation
print( 'Testing', 1, 2, 3 )

Testing 1 2 3

In [6]:
print( 10 + 2 ) # Add
print( 10 - 2 ) # Subtract
print( 10 / 2 ) # Divide
print( 10 * 2 ) # Multiply
print( 10**2 )  # Squared (Note: it's NOT 10^2)
print( 10 % 2 ) # Modulo (i.e. what is the remainder when 10 is divided by 2?)

12
8
5
20
100
0

In [7]:
print( 5 > 3 )  # Greater than
print( 5 >= 3 )  # Greater than or equal to
print( 5 < 3 )  # Less than
print( 5 <= 3 )  # Less than or equal to
print( 5 == 3 ) # Equal to
print( 5 != 3 ) # Not equal to

True
True
False
False
False
True

In [8]:
print( type(5 > 3) )
print( type(True) )
print( type(False) )

<type 'bool'>
<type 'bool'>
<type 'bool'>

In [9]:
print( type(5) )
print( type(5.) )
print( type(5.3) )

<type 'int'>
<type 'float'>
<type 'float'>

In [10]:
print( 5 * 3.14, type(5 * 3.14) )
print( 5 + 3.14, type(5 + 3.14) )

15.7 <type 'float'>
8.14 <type 'float'>

In [11]:
print( 3/2 ) # Should be 1 in Python 2, 1.5 in Python 3
print( 3/2.) # Should be 1.5 in both Python 2 and Python 3

1
1.5

In [12]:
print( 'This is a string.' )
print( type('This is a string.') )

This is a string.
<type 'str'>

In [13]:
'992' + '345' # Concatentation

'992345'

In [18]:
'5' * 5 # Repetition

'55555'

In [19]:
# Insert dynamic value into string
print( '992 + 345 = {}'.format(992 + 345) )

992 + 345 = 1337

In [20]:
# Insert 3 dynamic values into string
print( '{} + {} = {}'.format(992, 345, 992 + 345) )

992 + 345 = 1337

In [21]:
# Set variables
principal = 1000.0
yearly_interest_rate = 0.03
n_years = 5

In [22]:
# Calculate total investment return
total_return = principal * (1 + yearly_interest_rate)**n_years - principal

# Print total investment return
print( total_return )

159.2740743

In [25]:
principal = 1000.0

Principal = 'Mr. Smith'

# These are separate variables
print( principal ) 
print( Principal )

1000.0
Mr. Smith

In [1]:
import numpy as np

In [2]:
# Array of ints
array_a = np.array([0, 1, 2, 3])

print( array_a )
print( type(array_a) )

[0 1 2 3]
<type 'numpy.ndarray'>

In [3]:
print( array_a.shape )

(4,)

In [4]:
# First element of array_a
print( array_a[0] )

# Last element of array_a
print( array_a[-1] )

# From second element of array_a up to the 4th
print( array_a[2:4] )

0
3
[2 3]

In [5]:
# Array with missing values
array_with_missing_value = np.array([1.2, 8.8, 4.0, np.nan, 6.1])

# Print array
print( array_with_missing_value )

[ 1.2  8.8  4.   nan  6.1]

In [7]:
array_c = np.array([[1, 2, 3], [4, 5, 6]])
print( array_c )
print('')
print( array_c.shape )

[[1 2 3]
 [4 5 6]]

(2, 3)

In [11]:
# Reshape to 3x2
print( array_c.reshape(3, 2) )

[[1 2]
 [3 4]
 [5 6]]

In [12]:
# Transpose
print( array_c.transpose() )

[[1 4]
 [2 5]
 [3 6]]

In [13]:
# Create a 3x3 array
array_d = np.array(range(1,10)).reshape(3,3)
print(array_d)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [14]:
print( array_d[0, :], '\n' ) # Select first row and all columns
print( array_d[1, :], '\n' ) # Select second row and all columns
print( array_d[:, 2], '\n' ) # Select third column and rows
print( array_d[:, 1], '\n' ) # Select second column and all rows
print( array_d[1:, 1:] )     # Select after second row and second column

(array([1, 2, 3]), '\n')
(array([4, 5, 6]), '\n')
(array([3, 6, 9]), '\n')
(array([2, 5, 8]), '\n')
[[5 6]
 [8 9]]

In [23]:
# 2x2 matrix of floats
x = np.array([[1.0, 2.0], [3.0, 4.0]])
print( x )

print('')

# 2x2 matrix of floats
y = np.array([[2.0, 5.0], [10.0, 3.0]])
print( y )

[[ 1.  2.]
 [ 3.  4.]]

[[  2.   5.]
 [ 10.   3.]]

In [27]:
print( x + y ) # Addition
print('')
print( x - y ) # Subtraction
print('')
print( x * y ) # Multiplication
print('')
print( x / y ) # Division
print('')
print( x % y )        # Modulo (remainder)

[[  3.   7.]
 [ 13.   7.]]

[[-1. -3.]
 [-7.  1.]]

[[  2.  10.]
 [ 30.  12.]]

[[ 0.5         0.4       ]
 [ 0.3         1.33333333]]

[[ 1.  2.]
 [ 3.  1.]]

In [29]:
print( x + 2, '\n' ) # Addition
print( x - 2, '\n' ) # Subtraction
print( x * 2, '\n' ) # Multiplication
print( x / 2, '\n' ) # Division
print( x % 2 )       # Modulo (remainder)

(array([[ 3.,  4.],
       [ 5.,  6.]]), '\n')
(array([[-1.,  0.],
       [ 1.,  2.]]), '\n')
(array([[ 2.,  4.],
       [ 6.,  8.]]), '\n')
(array([[ 0.5,  1. ],
       [ 1.5,  2. ]]), '\n')
[[ 1.  0.]
 [ 1.  0.]]

In [30]:
# Cubed
np.power(x, 3)

array([[  1.,   8.],
       [ 27.,  64.]])

In [31]:
# Sum of all elements
print( np.sum(x) )

10.0

In [34]:
# Sum of each column
print( np.sum(x, axis=0))

print ('')

# Sum of each row
print( np.sum(x, axis=1) )

[ 4.  6.]

[ 3.  7.]

In [37]:
# Randomly draw 8x8 samples from a uniform distribution from [0, 10)
generated_matrix = np.random.randint(0, 10, (8,8))
print( generated_matrix )

[[8 6 9 2 4 3 9 5]
 [0 6 5 4 6 3 7 1]
 [1 3 7 2 7 3 1 7]
 [1 6 1 9 4 1 8 8]
 [4 0 9 6 0 0 3 6]
 [2 9 9 5 0 0 9 6]
 [1 0 5 2 6 8 4 1]
 [0 5 0 0 5 9 0 0]]

In [42]:
# Set seed for reproducible results
np.random.seed(1337)

# Randomly draw 4x4 samples from a uniform distribution from [0, 10)
generated_matrix = np.random.randint(0, 10, (8,8))

print( generated_matrix )

[[7 8 7 9 7 2 2 4]
 [8 9 6 6 7 8 1 6]
 [6 2 2 9 8 1 7 3]
 [1 3 9 3 4 8 8 7]
 [9 4 1 6 4 4 2 5]
 [7 4 2 3 9 2 4 8]
 [6 3 8 8 7 4 3 2]
 [9 1 2 0 3 8 2 1]]

In [45]:
# Set seed for reproducible results
np.random.seed(55)

# Randomly select 5 elements from first column of generated_matrix
print( np.random.choice(generated_matrix[:,0], 5) )

[7 6 9 7 7]

In [52]:
# Set seed for reproducible results
np.random.seed(55)

# Randomly select 5 elements from first column of generated_matrix
print( np.random.choice(generated_matrix[:,0], 5, replace=False) )

[9 9 6 8 1]

In [54]:
import pandas as pd

In [55]:
# Read the iris dataset from a CSV file
df = pd.read_csv('project_files/iris.csv')

# Print data type for df
print( type(df) )

<class 'pandas.core.frame.DataFrame'>

In [56]:
# Display the first 5 rows of the dataframe
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [57]:
# Shape of dataframe
print( df.shape )

(150, 5)

In [58]:
# Display summary statistics for each variable
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [61]:
# Way 1
print( type(df.petal_length) )

# Way 2
print( type(df['petal_length']) )

# Check that both ways are identical
print( all(df.petal_length == df['petal_length']) )

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
True

In [62]:
# Create new petal area feature
df['petal_area'] = df.petal_width * df.petal_length

In [63]:
# Display the first 5 rows of the dataframe
df.head()

   sepal_length  sepal_width  petal_length  petal_width species  petal_area
0           5.1          3.5           1.4          0.2  setosa        0.28
1           4.9          3.0           1.4          0.2  setosa        0.28
2           4.7          3.2           1.3          0.2  setosa        0.26
3           4.6          3.1           1.5          0.2  setosa        0.30
4           5.0          3.6           1.4          0.2  setosa        0.28

In [64]:
example_series = pd.Series([10, 5, -3, 2])

print( example_series )

0    10
1     5
2    -3
3     2
dtype: int64

In [65]:
# Create boolean mask from a condition
series_mask = example_series > 0

print( series_mask )

0     True
1     True
2    False
3     True
dtype: bool

In [68]:
# Keep only True values from the boolean mask
example_series[series_mask]

0    10
1     5
3     2
dtype: int64

In [69]:
# Display observations where petal_area > 14
df[df.petal_area > 14]

,sepal_length,sepal_width,petal_length,petal_width,species,petal_area
100,6.3,3.3,6.0,2.5,virginica,15.00
109,7.2,3.6,6.1,2.5,virginica,15.25
117,7.7,3.8,6.7,2.2,virginica,14.74
118,7.7,2.6,6.9,2.3,virginica,15.87
135,7.7,3.0,6.1,2.3,virginica,14.03
144,6.7,3.3,5.7,2.5,virginica,14.25

In [70]:
# Example boolean Series
example_mask = pd.Series([True, False, False, True, False])

# Convert boolean Series into 1/0
print( example_mask.astype(int) )

0    1
1    0
2    0
3    1
4    0
dtype: int64

In [71]:
# Create indicator variable for petal_area > 14
df['giant'] = (df.petal_area > 14).astype(int)

In [72]:
# Display the first 5 rows of the dataframe
df.head()

,sepal_length,sepal_width,petal_length,petal_width,species,petal_area,giant
0,5.1,3.5,1.4,0.2,setosa,0.28,0
1,4.9,3.0,1.4,0.2,setosa,0.28,0
2,4.7,3.2,1.3,0.2,setosa,0.26,0
3,4.6,3.1,1.5,0.2,setosa,0.30,0
4,5.0,3.6,1.4,0.2,setosa,0.28,0

In [73]:
# Versicolor or virginica
species_mask = df.species.isin(['versicolor', 'virginica'])

# Sepal width > 3.2
sepal_width_mask = df.sepal_width > 3.2

# Index with both masks
df[species_mask & sepal_width_mask]

,sepal_length,sepal_width,petal_length,petal_width,species,petal_area,giant
56,6.3,3.3,4.7,1.6,versicolor,7.52,0
85,6.0,3.4,4.5,1.6,versicolor,7.20,0
100,6.3,3.3,6.0,2.5,virginica,15.00,1
109,7.2,3.6,6.1,2.5,virginica,15.25,1
117,7.7,3.8,6.7,2.2,virginica,14.74,1
124,6.7,3.3,5.7,2.1,virginica,11.97,0
131,7.9,3.8,6.4,2.0,virginica,12.80,0
136,6.3,3.4,5.6,2.4,virginica,13.44,0
144,6.7,3.3,5.7,2.5,virginica,14.25,1
148,6.2,3.4,5.4,2.3,virginica,12.42,0

In [75]:
# Display average measurements for each species
df.groupby('species').mean()

,sepal_length,sepal_width,petal_length,petal_width,petal_area,giant
species,,,,,,
setosa,5.006,3.428,1.462,0.246,0.3656,0.00
versicolor,5.936,2.770,4.260,1.326,5.7204,0.00
virginica,6.588,2.974,5.552,2.026,11.2962,0.12